* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}
.header {
  font-size: 25px;
  font-weight: bolder;
  text-align: left;
}

.container, .inputContainer {
  display: grid;
  grid-template-columns: 180px 135px 90px;
  gap: 5px;
  /* align-items: center; */
  margin-top: 10px;
}

button {
  width: 90px;
  padding: 12px 0;
  font-size: 15px;
  color: white;
  border: none;
  border-radius: 5px;;
  cursor: pointer; 
  transition: transform 0.1s ease;
}
button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.addButton {
  background-color: rgb(17, 160, 17);
}
.deleteButton {
  background-color: red;
} 

input, .nameElement , .dueDateElement {
  padding: 10px;
  font-size: 15px;
}

/* for screen smaller than 420px  */
@media only screen and (max-width: 420px) {
  .container, .inputContainer {
    grid-template-columns: 40% 30% 20%;
    gap: 1%;
    justify-content: space-evenly;
  }
  button {
    width: 100%;
  }
} 
